.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-size: large;
  font-weight: bold;
  margin-right: 20px;
  color: white;
}

.link:hover {
  border-bottom: 2px solid white;
}

.active {
  font-size: large;
  font-weight: bold;
  margin-right: 20px;
  color: yellow;
  border-bottom: 2px solid yellow;
}
